* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ol {
    list-style-type: none;
}

header {
    background: #2E3844;
    min-width: 100%;
}
header .header__wrapper {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo {
    display:flex;
    align-items:center;
}
.logo__picture {
    margin: 20px;
}
.title-logo {
    color: white;
    font-size: 32px;
}
header .menu {
    display: flex;
    align-items:center;
}
.menu__row1 {
    display: inline-flex;
    flex-flow: row wrap;
}
header .menu .btn {
    color: white;
    font-size: 18px;
    padding: 2px;
    margin: 0 20px;
}
.btn:hover {
    width: 100%;
    background:url("../img/line.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}


.side-bar__wrapper {
    background-image: url("../img/cas.png");
    margin-bottom: 100px;
}
.side-bar__wrapper .side-bar__row1 {
    max-width: 1170px;
    margin: 0 auto 30px;
    padding-left: 20px;
}
.side-bar__row1 .title {
    text-align: center;
    color: #7A8089;
    font-size: 32px;
}
.side-bar__text .big {
    color: white;
    font-size: 45px;
    padding-bottom: 10px;
}
.side-bar__text .big:hover {
    width: 100%;
    background-image: url("../img/line.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
.container__side-bar {
    display: flex;
}
.container__side-bar .wrap {
    width: 40%;
    background: white;
}
.container__side-bar .wrap .background {
    background: white;
    height: 100%;
    width: 105%;
    transform: skew(45grad);
    padding-right: 30px;
}
.side-bar__row2 {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 90px;
    align-items:center;
}
.side-bar__row2 .side-bar-btn {
    display: inline-flex;
    color: white;
    font-size: 14px;
    padding: 15px 0;
}
.side-bar__row2 .side-bar-btn .element {
    margin: 0 15px;
    font-weight: bold;
}

.context {
    max-width: 1170px;
    margin: 0 auto;
}
.context .context__row1 {
    display: flex;
    font-size: 14px;
    color: #303030;
    flex-wrap: wrap;
}
.context .col {
    width: 300px;
    padding-bottom: 70px;
    margin-left: 20px;
}
.context .context__row2 {
    display: flex;
    font-size: 14px;
    color: #303030;
    margin:0 0 70px;
    flex-wrap: wrap;
}
.context .col .title-context {
    margin-bottom: 40px;
}
.title-one {
    font-size: 45px;
    text-align: center;
    width: 100%;
}
.one {
    text-decoration: none;
    display: inline-block;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    color: #2E3338;
}
hr {
    width: 10%;
    margin: 25px auto;
    border-bottom-color: red;
}
.container-wrap {
    max-width: 1170px;
    display: flex;
    margin: 100px auto ;
}
.container-one--left {
    width: 50%;
    line-height: 30px;
    margin: 0 20px;
}
.container-one--right {
    width: 50%;
    line-height: 30px;
    margin: 0 20px;
    padding-left: 25px;
    border-left: 5px solid red;
}

.footer-wrap {
    min-width: 100%;
    background: #303030;
    text-align: center;
    padding-bottom: 25px;
}
.title-logo__wrap {
    margin-top: -25px;
}

